body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}



header {
    background-color: #7300ff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%; /* Ajuste conforme necessário */
    justify-content: center;
    position: relative;
    padding-top: 100px;
}

.card {
    border: 5px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 400px; /* Ocupa toda a largura do contêiner para mostrar apenas um cartão */
    transition: transform 0.3s ease;
    display: none; /* Esconde todos os cartões por padrão */
    text-align: center;
    height: 300px;
}

.card.active {
    display: inline-block; /* Mostra apenas o cartão ativo */
}

.card h3 {
    font-size: 35px;
    padding-bottom: 10px;
}

.card p {
    font-size: 15px;
    padding: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7300ff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}

#prevBtn {
    left: 100px;
}

#nextBtn {
    right: 100px;
}

.carousel-btn:hover {
    background-color: #9239ff;
}
