:root {
    --cor-fundo-escuro: #030303;
    --cor-branco: #ffffff;
    --cor-laranja: #FF5D00;
    --cor-fundo-cards: #121212;
    --cor-fundo-dropdown: #040404;
    --cor-acento: #e67e22;
}

body {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-branco);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-branco);
    width: 30%;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title h1 {
    font-family: 'Smooch', sans-serif;
    font-size: 50px;
    padding-top: 10px;
}

.title img {
    width: 55px;
}

.title-results {
    position: fixed;
    top: 0;
    background-color: var(--cor-fundo-escuro);
    padding-top: 35px;
    z-index: 10;
    text-align: center;
    font-size: 2rem;
    color: var(--cor-branco);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 700px;
}

.main-container {
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

label {
    width: 300px;
    text-align: start;
}

select, button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

select {
    background-color: #292929;
    border: 1px solid var(--cor-laranja);
}

.select2-container--default .select2-selection--single {
    background-color: var(--cor-fundo-dropdown) !important;
    border: 1px solid var(--cor-laranja) !important;
    border-radius: 5px;
    box-shadow: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: var(--cor-fundo-dropdown);
    color: var(--cor-laranja);
    border: 1px solid var(--cor-laranja) !important;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
    box-shadow: 0 0 5px var(--cor-laranja);
}

.select2-container--default .select2-search--dropdown {
    background-color: var(--cor-fundo-dropdown) !important;
    border: none !important;
}

.select2-container--default .select2-results {
    background-color: var(--cor-fundo-dropdown) !important;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--cor-laranja) !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--cor-laranja) !important;
}

.select2-container--default .select2-results__option {
    background-color: var(--cor-fundo-dropdown);
    color: var(--cor-laranja) !important;
}

.select2-container--default .select2-results__option--selected {
    font-weight: 800 !important;
    color: var(--cor-branco) !important;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: var(--cor-laranja) !important;
    color: var(--cor-branco) !important;
}

button {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--cor-laranja);
}

button:disabled {
    background-color: #1a1919;
    color: #2b2b2b;
    border: 1px solid #292929;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: var(--cor-fundo-escuro);
    border: 1px solid var(--cor-laranja);
    color: var(--cor-laranja);
}

.results-container {
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.result-card {
    background-color: var(--cor-fundo-cards);
    color: var(--cor-branco);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: 0.4s ease;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-card:hover {
    transform: scale(1.05);
    background-color: var(--cor-laranja);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

#back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--cor-laranja);
    border: 1px solid var(--cor-laranja);
    color: var(--cor-branco);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
    width: 100px;
}

#back-button:hover {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-laranja);
    border: 1px solid var(--cor-laranja);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #292929;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-laranja);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-acento);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--cor-laranja) #292929;
}

.no-results {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin: 20px 0;
}

.loading-message {
    font-size: 28px;
    color: var(--cor-laranja);
    text-align: center;
    margin: 20px 0;
}


