body {
    font-family: Arial, sans-serif;
    display: flex; /* Usando flexbox para centralizar o conteúdo */
    justify-content: center; /* Centralizando horizontalmente */
    align-items: center; /* Centralizando verticalmente */
    flex-direction: column;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centralizando o texto do cabeçalho */
    flex-direction: column;
    height: 100px;
    width: 100vw;
    padding-bottom: 10px;

}



.login-type {
    text-align: start;
    padding-bottom: 50px;
}


select {
    width: 100px;
    text-align: center;
    height: 30px;
    margin: 12px 0;
}

.login-form {
    margin-top: 20px; /* Margem superior para separar os formulários */
    text-align: center;
}


input[type="text"],
input[type="password"] {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Margem entre os campos */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 4px; /* Bordas arredondadas */
    
}

button {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    background-color: #7300ff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    border: 1px solid #7300ff;
    cursor: pointer; /* Mudança do cursor ao passar o mouse */
    transition: 0.2s ease-in-out; /* Efeito de transição */
    margin-top: 20px; /* Espaçamento entre o último formulário e o botão */


}

button:hover {
    background-color: #F5F5F5; /* Cor do botão ao passar o mouse */
    border: 1px solid #7300ff;
    color: #7300f5;
}

.login-type {
    margin: 20px 0; /* Espaçamento entre o título e o seletor */
}

.login-form {
    margin-top: 10px; /* Margem superior para separar os formulários */
}

